#1º periodo
1º Período/E201 - D/
1º Período/E201-L1/
1º Período/M001-A/
1º Período/M002-D/

#2º periodo
2º Período/E110 - L4/
2º Período/F201 - F2011 - L1/
2º Período/F201 F211 - C/
2º Período/M003 - C/
2º Período/M020/
2º Período/SEFITEL/

#3º periodo
3º Período/E207 - B/
3º Período/E207 - L7/
3º Período/F202 - A/
3º Período/F202 - L6/
3º Período/M004 - C/
3º Período/SEFITEL/
3º Período/Provas.png

#4º periodo
4º Período/C005 - B/
4º Período/E208 - B/
4º Período/E208 - L4/
4º Período/Horários/
4º Período/M004 - B/
4º Período/C207 - A/Material de aula/Cap.4 - SQL/Aula_Cap4_SQL_DML.mp4